<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<bean id="student" class="com.fhpt.java.entity.Student">
		<property name="sid" value="1"></property>
		<property name="sName" value="libaoshen"></property>
		<property name="age" value="23"></property>
		<property name="discipline" value="it"></property>
	</bean>

</beans>